<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>Find Customer</title>
</head>




<header>

</header>
<br>
<br>
<div class="container">
    <h1>Find Bog</h1>
    <form th:action="@{/findbog}" th:object="${bog}" method="post">
        <tr>
            <th>Indtast titel:</th>
            <input type="text" th:field="*{titel}" placeholder="Titel" />
            <input type="submit" value="Search"/>
        </tr>
    </form>
    <div>
            <span th:if="${bog.getTitel() != 0}">
                <br>
                <h2>Book details</h2>



                <tr>
                    <th>Titel:</th>
                    <span th:text="${bog.titel}"></span>
                </tr>
                <br>
                   <tr>
                    <th>Forfatter:</th>
                    <span th:text="${bog.forfatter}"></span>
                </tr>
                <br>
                <tr>
                    <th>First name:</th>
                    <span th:text="${bog.getUdgivelsesaar()}"></span>
                </tr>
                <br>
                <tr>
                    <th>Last name:</th>
                    <span th:text="${bog.getISBN()}"></span>
                </tr>
                <br>




</span>
    </div>
</div>
</body>
</html>

