<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/Styles.css">
    <title>Bibliotek</title>
</head>
<body>


<div>
    <h1 id="">Bibliotek</h1>
</div>

<div class="center img-frontpage">
    <img src="../img/BooksBanner.jpg" />
</div>

<header>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="/">Startside</a></li>
            <li><a href="/findbog">Soeg efter bog</a></li>
            <li><a href="/sletbog">Slet bog</a></li>
            <li><a href="/bla bla">Bla bla</a></li>
        </ul>
    </nav>
</header>



</body>
</html>